In [1]:
!pip install yfinance
#!pip install pandas
#!pip install requests
!pip install bs4
#!pip install plotly

Requirement already satisfied: yfinance in d:\anaconda3\lib\site-packages (0.2.4)
Requirement already satisfied: cryptography>=3.3.2 in d:\anaconda3\lib\site-packages (from yfinance) (39.0.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in d:\anaconda3\lib\site-packages (from yfinance) (4.11.1)
Requirement already satisfied: requests>=2.26 in d:\anaconda3\lib\site-packages (from yfinance) (2.28.1)
Requirement already satisfied: pytz>=2022.5 in d:\anaconda3\lib\site-packages (from yfinance) (2022.7)
Requirement already satisfied: html5lib>=1.1 in d:\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: lxml>=4.9.1 in d:\anaconda3\lib\site-packages (from yfinance) (4.9.2)
Requirement already satisfied: pandas>=1.3.0 in d:\anaconda3\lib\site-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in d:\anaconda3\lib\site-packages (from yfinance) (1.23.5)
Requirement already satisfied: frozendict>=2.3.4 in d:\anaconda3\lib\site-packages (from yfinance) (2.3.8)
Requirement already satisfied: appdirs>=1.4.4 in d:\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: multitasking>=0.0.7 in d:\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: cffi>=1.12 in d:\anaconda3\lib\site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in d:\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in d:\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.14)
Requirement already satisfied: idna<4,>=2.5 in d:\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in d:\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: pycparser in d:\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: beautifulsoup4 in d:\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.2.post1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py): started
  Building wheel for bs4 (setup.py): finished with status 'done'
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1264 sha256=f7b05a9e115bd3f87c47af1d867f80c0a29f00ffcefadfd7ff62f69eb8265d3f
  Stored in directory: c:\users\aditya singla\appdata\local\pip\cache\wheels\e4\62\1d\d4d1bc4f33350ff84227f89b258edb552d604138e3739f5c83
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1

In [2]:
import pandas as pd

In [3]:
import yfinance as yf

In [4]:
import requests

In [5]:
from bs4 import BeautifulSoup

In [6]:
import plotly.graph_objects as go

In [7]:
from plotly.subplots import make_subplots

Question 1 - Extracting Tesla Stock Data Using yfinance - 2 Points

In [8]:
tesla = yf.Ticker("TSLA")

In [9]:
tesla_data = tesla.history(period="max")

In [10]:
tesla_data.reset_index(inplace = True)

In [12]:
tesla_data.head(6)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0
5,2010-07-07 00:00:00-04:00,1.093333,1.108667,0.998667,1.053333,103825500,0.0,0.0

Question 2 - Extracting Tesla Revenue Data Using Webscraping - 1 Points

In [13]:
url="https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"

In [14]:
html_data_tesla = requests.get(url).text

In [15]:
soup = BeautifulSoup(html_data_tesla,"html5lib")

In [18]:
tesla_revenue= pd.read_html(url, match="Tesla Quarterly Revenue", flavor='bs4')[0]

In [19]:
print(tesla_revenue.head())

  Tesla Quarterly Revenue (Millions of US $)  \
0                                 2023-03-31
1                                 2022-12-31
2                                 2022-09-30
3                                 2022-06-30
4                                 2022-03-31

  Tesla Quarterly Revenue (Millions of US $).1
0                                      $23,329
1                                      $24,318
2                                      $21,454
3                                      $16,934
4                                      $18,756

In [23]:
tesla_revenue = tesla_revenue.rename( columns = {'Tesla Quarterly Revenue (Millions of US $)' : 'YYYYMMDD' ,'Tesla Quarterly Revenue (Millions of US $).1':'Revenue of Quaterly'})

In [24]:
print(tesla_revenue.head(6))

     YYYYMMDD Revenue of Quaterly
0  2023-03-31             $23,329
1  2022-12-31             $24,318
2  2022-09-30             $21,454
3  2022-06-30             $16,934
4  2022-03-31             $18,756
5  2021-12-31             $17,719

In [25]:
print(tesla_revenue)

      YYYYMMDD Revenue of Quaterly
0   2023-03-31             $23,329
1   2022-12-31             $24,318
2   2022-09-30             $21,454
3   2022-06-30             $16,934
4   2022-03-31             $18,756
5   2021-12-31             $17,719
6   2021-09-30             $13,757
7   2021-06-30             $11,958
8   2021-03-31             $10,389
9   2020-12-31             $10,744
10  2020-09-30              $8,771
11  2020-06-30              $6,036
12  2020-03-31              $5,985
13  2019-12-31              $7,384
14  2019-09-30              $6,303
15  2019-06-30              $6,350
16  2019-03-31              $4,541
17  2018-12-31              $7,226
18  2018-09-30              $6,824
19  2018-06-30              $4,002
20  2018-03-31              $3,409
21  2017-12-31              $3,288
22  2017-09-30              $2,985
23  2017-06-30              $2,790
24  2017-03-31              $2,696
25  2016-12-31              $2,285
26  2016-09-30              $2,298
27  2016-06-30              $1,270
28  2016-03-31              $1,147
29  2015-12-31              $1,214
30  2015-09-30                $937
31  2015-06-30                $955
32  2015-03-31                $940
33  2014-12-31                $957
34  2014-09-30                $852
35  2014-06-30                $769
36  2014-03-31                $621
37  2013-12-31                $615
38  2013-09-30                $431
39  2013-06-30                $405
40  2013-03-31                $562
41  2012-12-31                $306
42  2012-09-30                 $50
43  2012-06-30                 $27
44  2012-03-31                 $30
45  2011-12-31                 $39
46  2011-09-30                 $58
47  2011-06-30                 $58
48  2011-03-31                 $49
49  2010-12-31                 $36
50  2010-09-30                 $31
51  2010-06-30                 $28
52  2010-03-31                 $21
53  2009-12-31                 NaN
54  2009-09-30                 $46
55  2009-06-30                 $27

Question 3 - Extracting GameStop Stock Data Using yfinance - 2 Points

In [27]:
gamestop = yf.Ticker("GME")

In [28]:
gamestop_data = gamestop.history(period="max")

In [29]:
gamestop_data.reset_index(inplace = True)

In [30]:
print(gamestop_data)

                          Date       Open       High        Low      Close  \
0    2002-02-13 00:00:00-05:00   1.620129   1.693350   1.603296   1.691667
1    2002-02-14 00:00:00-05:00   1.712707   1.716074   1.670626   1.683250
2    2002-02-15 00:00:00-05:00   1.683251   1.687459   1.658002   1.674834
3    2002-02-19 00:00:00-05:00   1.666418   1.666418   1.578047   1.607504
4    2002-02-20 00:00:00-05:00   1.615921   1.662210   1.603296   1.662210
...                        ...        ...        ...        ...        ...
5368 2023-06-12 00:00:00-04:00  22.850000  24.299999  22.740000  24.299999
5369 2023-06-13 00:00:00-04:00  26.200001  27.650000  25.030001  26.950001
5370 2023-06-14 00:00:00-04:00  26.719999  27.080000  24.900000  25.700001
5371 2023-06-15 00:00:00-04:00  25.410000  26.170000  24.639999  24.840000
5372 2023-06-16 00:00:00-04:00  25.020000  25.110001  24.420000  24.559999

        Volume  Dividends  Stock Splits
0     76216000        0.0           0.0
1     11021600        0.0           0.0
2      8389600        0.0           0.0
3      7410400        0.0           0.0
4      6892800        0.0           0.0
...        ...        ...           ...
5368   7131400        0.0           0.0
5369  17160600        0.0           0.0
5370   7243700        0.0           0.0
5371   5501800        0.0           0.0
5372   4427000        0.0           0.0

[5373 rows x 8 columns]

In [31]:
print(gamestop_data.head(6))

                       Date      Open      High       Low     Close    Volume  \
0 2002-02-13 00:00:00-05:00  1.620129  1.693350  1.603296  1.691667  76216000
1 2002-02-14 00:00:00-05:00  1.712707  1.716074  1.670626  1.683250  11021600
2 2002-02-15 00:00:00-05:00  1.683251  1.687459  1.658002  1.674834   8389600
3 2002-02-19 00:00:00-05:00  1.666418  1.666418  1.578047  1.607504   7410400
4 2002-02-20 00:00:00-05:00  1.615921  1.662210  1.603296  1.662210   6892800
5 2002-02-21 00:00:00-05:00  1.656318  1.670626  1.641169  1.658002   6976800

   Dividends  Stock Splits
0        0.0           0.0
1        0.0           0.0
2        0.0           0.0
3        0.0           0.0
4        0.0           0.0
5        0.0           0.0

Question 4 - Extracting GameStop Revenue Data Using Webscraping - 1 Points

In [32]:
url="https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue"

In [33]:
html_data = requests.get(url).text

In [37]:
soup = BeautifulSoup(html_data,"html5lib")

In [39]:
gme_revenue= pd.read_html(url, match="GameStop Quarterly Revenue", flavor='bs4')[0]

In [41]:
print(gme_revenue.head())

  GameStop Quarterly Revenue (Millions of US $)  \
0                                    2023-04-30
1                                    2023-01-31
2                                    2022-10-31
3                                    2022-07-31
4                                    2022-04-30

  GameStop Quarterly Revenue (Millions of US $).1
0                                          $1,237
1                                          $2,226
2                                          $1,186
3                                          $1,136
4                                          $1,378

In [50]:
gme_revenue = gme_revenue.rename(columns = {'GameStop Quarterly Revenue (Millions of US $)':'Date:yyyy mm dd', 'GameStop Quarterly Revenue (Millions of US $)' :'revenue of gamestop'})

In [51]:
print(gme_revenue)

   revenue of gamestop GameStop Quarterly Revenue (Millions of US $).1
0           2023-04-30                                          $1,237
1           2023-01-31                                          $2,226
2           2022-10-31                                          $1,186
3           2022-07-31                                          $1,136
4           2022-04-30                                          $1,378
5           2022-01-31                                          $2,254
6           2021-10-31                                          $1,297
7           2021-07-31                                          $1,183
8           2021-04-30                                          $1,277
9           2021-01-31                                          $2,122
10          2020-10-31                                          $1,005
11          2020-07-31                                            $942
12          2020-04-30                                          $1,021
13          2020-01-31                                          $2,194
14          2019-10-31                                          $1,439
15          2019-07-31                                          $1,286
16          2019-04-30                                          $1,548
17          2019-01-31                                          $3,063
18          2018-10-31                                          $1,935
19          2018-07-31                                          $1,501
20          2018-04-30                                          $1,786
21          2018-01-31                                          $2,825
22          2017-10-31                                          $1,989
23          2017-07-31                                          $1,688
24          2017-04-30                                          $2,046
25          2017-01-31                                          $2,403
26          2016-10-31                                          $1,959
27          2016-07-31                                          $1,632
28          2016-04-30                                          $1,972
29          2016-01-31                                          $3,525
30          2015-10-31                                          $2,016
31          2015-07-31                                          $1,762
32          2015-04-30                                          $2,061
33          2015-01-31                                          $3,476
34          2014-10-31                                          $2,092
35          2014-07-31                                          $1,731
36          2014-04-30                                          $1,996
37          2014-01-31                                          $3,684
38          2013-10-31                                          $2,107
39          2013-07-31                                          $1,384
40          2013-04-30                                          $1,865
41          2013-01-31                                          $3,562
42          2012-10-31                                          $1,773
43          2012-07-31                                          $1,550
44          2012-04-30                                          $2,002
45          2012-01-31                                          $3,579
46          2011-10-31                                          $1,947
47          2011-07-31                                          $1,744
48          2011-04-30                                          $2,281
49          2011-01-31                                          $3,693
50          2010-10-31                                          $1,899
51          2010-07-31                                          $1,799
52          2010-04-30                                          $2,083
53          2010-01-31                                          $3,524
54          2009-10-31                                          $1,835
55          2009-07-31                                          $1,739
56          2009-04-30                                          $1,981
57          2009-01-31                                          $3,492

Defining fuction to make the dashboard

In [84]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data.Date, infer_datetime_format=True), y=stock_data.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data.Date, infer_datetime_format=True), y=revenue_data.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

Question 5 - Tesla Stock and Revenue Dashboard - 2 Points


make_graph(tesla_data, tesla_revenue, 'Tesla')